<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="header-css">
        <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.1.3/css/bootstrap.min.css">
        <script type="text/javascript" src="webjars/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    </div>
</head>
<body>
<div th:fragment="header">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand"  href="#">iLMS v1.0</a>

        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/home">Home</a>
            </li>

            <!-- Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Books
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/books">All Books</a>
                    <a class="dropdown-item" href="/newBook">New Book</a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/categories">Book Categories</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/authors">Authors</a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>