<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bootstrap and Thymeleaf HTML Demo</title>
    <div th:replace="fragments/header :: header-css"/>

    <link th:href="@{css/authors.css}" href="/static/css/authors.css">
    <script type="text/javascript" th:src="@{js/authors.js}" src="/static/js/authors.js"></script>

</head>
<body>
<div th:replace="fragments/header :: header" />

<div class="container" style="height: 80vh;"> <!-- this means the height of the container will be 80% of the Viewer Height -->

    <p/>
    <p/>
    <p/>

        <div class="card">
            <div class="card-header">
                <h4>All Authors</h4>
            </div>
            <div class="card-body">
                <table class="table table-hover"><x></x>
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Nationality</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="author :${allAuthors}" >
                        <td th:text="${author.id}"/>
                        <td th:text="${author.firstName}"/>
                        <td th:text="${author.lastName}"/>
                        <td th:text="${author.nationality}"/>
                        <td>
                            <a th:href="@{findOne/(id=${author.id})}"     class="btn btn-primary eBtn">Edit</a>
                            <a th:href="@{delete/(id=${author.id})}"     class="btn btn-danger delBtn">Delete</a>
                        </td>
                    </tr>
                    </tbody>

                </table>
                <hr/>

                <!-- start of new pagination implementation -->
                <div class="row">
                    <div class="form-group col-md-1">
                        <select class="form-control pagination" id="pageSizeSelect">
                            <option th:each="pageSize :${pageSizes}" th:text="${pageSize}" th:value="${pageSize}" th:selected="${pageSize} == ${selectedPageSize}"></option>
                        </select>
                    </div>

                    <div th:if="${allAuthors.totalPages != 1}" class="form-group col-md-11 pagination-centered">
                        <ul class="pagination">
                            <li th:class="${allAuthors.number == 0} ? disabled"><a
                                    class="page-link"
                                    th:href="@{/author(pageSize=${selectedPageSize}, page=1)}">«</a>
                            </li>
                            <li th:class="${allAuthors.number == 0} ? disabled"><a
                                    class="page-link"
                                    th:href="@{/author(pageSize=${selectedPageSize}, page=${allAuthors.number})}">←</a>
                            </li>
                            <li
                                    th:class="${allAuthors.number == (page - 1)} ? 'active pointer-disabled'"
                                    th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                                <a class="page-link"
                                   th:href="@{/author(pageSize=${selectedPageSize}, page=${page})}"
                                   th:text="${page}"></a>
                            </li>
                            <li
                                    th:class="${allAuthors.number + 1 == allAuthors.totalPages} ? disabled">
                                <a class="page-link"
                                   th:href="@{/author(pageSize=${selectedPageSize}, page=${allAuthors.number + 2})}">→</a>
                            </li>
                            <li
                                    th:class="${allAuthors.number + 1 == allAuthors.totalPages} ? disabled">
                                <a class="pageLink"
                                   th:href="@{/auhor(pageSize=${selectedPageSize}, page=${allAuthors.totalPages})}">»</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- end of pagination implementation -->

            </div>

        </div>



</div>

</div>

<div th:replace="fragments/footer :: footer" />

</body>
</html>