<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bootstrap and Thymeleaf HTML Demo</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header" />

<div class="container" style="height: 80vh;"> <!-- this means the height of the container will be 80% of the Viewer Height -->

    <!-- the following 3 empty paragraphs are to put some space between the navigation bar and the top of the form -->
    <p/>
    <p/>
    <p/>

    <h2>New Author</h2>
    <form action="#">
        <div class="form-group">
            <label for="fName">First Name</label>
            <input type="text" class="form-control" id="fName" placeholder="Enter first name" name="fName">
        </div>
        <div class="form-group">
            <label for="lName">Last Name</label>
            <input type="text" class="form-control" id="lName" placeholder="Enter last name" name="lName">
        </div>

        <div class="form-group dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownNationality" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Nationality
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownNationality">
                <a class="dropdown-item" href="#">US</a>
                <a class="dropdown-item" href="#">UK</a>
                <a class="dropdown-item" href="#">France</a>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>

</div>

<div th:replace="fragments/footer :: footer" />

</body>
</html>